<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
<application android:forceQueryable="true" android:label="My Pixel Mod Pack" android:icon="@drawable/ic_wand" android:theme="@style/AppTheme" android:allowBackup="false">
<activity android:name="dev.chet.mypixelmodpack.HomeActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
<activity android:name="dev.chet.batterygradient.SettingsActivity" android:exported="false"/>
<activity android:name="dev.chet.mobiletypeframe.SettingsActivity" android:exported="false"/>
<activity android:name="com.chet.voserviceframe.MainActivity" android:exported="false"/>
<activity android:name="com.chet.navdotstyle.MainActivity" android:exported="false"/>
<activity android:name="com.chet.navbarmatch.MainActivity" android:exported="false"/>
<activity android:name="dev.chet.gboardcursorkeys.MainActivity" android:exported="false"/>
<activity android:name="com.chet.networkactivity.SettingsActivity" android:exported="false"/>
<receiver android:name="dev.chet.batterygradient.StyleIntentReceiver" android:exported="true"><intent-filter><action android:name="dev.chet.batterygradient.SET_STYLE"/></intent-filter></receiver>
<provider android:name="dev.chet.batterygradient.SettingsProvider" android:authorities="dev.chet.mypixelmodpack.battery.settings" android:exported="true"/>
<provider android:name="dev.chet.mobiletypeframe.ShapeProvider" android:authorities="dev.chet.mypixelmodpack.mobile.settings" android:exported="true"/>
<provider android:name="com.chet.networkactivity.ConfigProvider" android:authorities="dev.chet.mypixelmodpack.network.settings" android:exported="true"/>
<provider android:name="dev.chet.mypixelmodpack.PackSettingsProvider" android:authorities="dev.chet.mypixelmodpack.settings.v2" android:exported="true"/>
<meta-data android:name="xposedmodule" android:value="true"/><meta-data android:name="xposeddescription" android:value="Pixel navigation, status icons, battery, and Gboard tweaks"/><meta-data android:name="xposedminversion" android:value="82"/>
</application></manifest>